// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body { 
  background: #f6f8fb;
}
input {
  border-radius: 8px;
  padding: 8px;
}

.btn {
  background: rgb(29, 134, 255);
}
.btn:hover {
  background: rgb(152, 197, 248);
}